        @font-face {
            font-family: cybersky;
            src: url();
        }
        
        body {
            padding: 0;
            margin: 0;
            max-width: 100%;
            scroll-behavior: smooth;
            background-color: darkblue;
            display: flex;
            flex-direction: column;
        }
        
        header {
            text-align: left;
            background: linear-gradient(to right, maroon, rgb(255, 149, 0));
            list-style: none;
            width: 100%;
            height: 70px;
            text-align: right;
            padding: 0;
            margin: 0%;
            position: fixed;
        }
        
        h1 {
            position: absolute;
            padding: PX;
            float: LEFT;
            margin-left: 2%;
            margin-top: 10px;
            color: olive;
            font-family: cybersky;
            line-height: 50px;
            animation: animation 3s infinite;
        }
        
        span {
            color: gray;
            animation: animation2 3s infinite;
        }
        
        .checkbtn {
            font-size: 30px;
            float: right;
            margin-top: 10px;
            line-height: 50px;
            color: white;
            margin-right: 2%;
            display: none;
            transition: 0.3s;
        }
        
        .checkbtn:hover {
            color: darkblue;
        }
        
        input {
            display: none;
        }
        
        ul {
            width: auto;
            float: right;
            margin-top: ;
            height: 20px;
            transition: ease-in 0.3s;
        }
        
        li {
            display: inline-block;
            padding-left: 15px;
            padding-right: 20px;
        }
        
        li,
        a:hover {
            color: orange;
            transition: 0.5s;
        }
        
        .content {
            font-family: 'Dancing Script', cursive;
            text-transform: capitalize;
            font-size: 800%;
            color: orange;
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            height: 95vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: hidden;
        }
        
        .science-fiction {
            font-family: cybersky;
            font-size: xx-large;
            height: 600px;
            color: silver;
            object-fit: stretch;
            background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(11, 65, 146, 0.73)), url('/images/scifi3.jpg');
            max-width: 100%;
            border: 3cm;
            background-position: fixed;
            text-align: center;
        }
        
        .mystery {
            font-family: cybersky;
            font-size: xx-large;
            height: 600px;
            color: silver;
            object-fit: stretch;
            background: url('/images/11.jpg');
            background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(0, 144, 79, 0.73)), url('/images/11.jpg');
            max-width: 100%;
            border: 3cm;
            background-position: fixed;
            text-align: center;
        }
        
        .image-slider img {
            border-radius: 10px;
            float: left;
            opacity: 100%;
            margin: 50px;
            height: 300px;
            width: 200px;
        }
        
        .slider-dune {
            color: white;
            background: rgba(255, 255, 255, 0);
            vertical-align: bottom;
            text-align: center;
            width: 300px;
            height: 1px;
            transition: transform .3s ease-in;
        }
        
        .slider-fte {
            color: white;
            background: rgba(255, 255, 255, 0);
            vertical-align: bottom;
            text-align: center;
            width: 300px;
            height: 1px;
            transition: transform .3s ease-in;
            padding: 0px;
        }
        
        .slider-war {
            float: ;
            color: white;
            background: rgba(255, 255, 255, 0);
            text-align: center;
            width: 300px;
            height: 1px;
            display: ;
            transition: transform .3s ease-in;
            padding: 40px;
        }
        
        .slider-k {
            float: right;
            color: white;
            background: rgba(255, 255, 255, 0);
            vertical-align: bottom;
            text-align: center;
            width: 300px;
            height: 1px;
            display: flex;
            transition: transform .3s ease-in;
            position: right;
        }
        
        .slider-k:hover {
            transform: scale(.8);
        }
        
        .slider-fte:hover {
            transform: scale(0.8);
            transition: .5s ease-in-out;
        }
        
        .slider-dune:hover {
            transform: scale(0.8);
            transition: .5s ease-in-out;
        }
        
        .slider-war:hover {
            transform: scale(0.8);
            transition: .5s ease-in-out;
        }
        
        .mysteries {
            height: 500px;
            width: 100%;
            background: contain;
            border: 3cm;
            border-radius: 1cm;
            text-align: center;
            font-family: cybersky;
            font-size: xx-large;
            background: linear-gradient(to left, rgba(79, 76, 76, 0.352), rgba(255, 34, 9), rgba(102, 103, 5)), url('/images/7.jpg');
        }
        
        footer {
            min-height: fit-content;
            width: 100%;
            background-color: green;
            list-style: none;
            font-size: 150%;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        
        footer,
        ul {
            align-items: center;
            display: block;
            text-align: center;
            word-spacing: 150%;
        }
        
        footer,
        a {
            line-height: 50px;
            color: white;
            text-decoration: none;
        }
        
        #myBtn {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 20px;
            /* Place the button at the bottom of the page */
            right: 30px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            background-color: red;
            /* Set a background color */
            color: white;
            /* Text color */
            cursor: pointer;
            /* Add a mouse pointer on hover */
            padding: 15px;
            /* Some padding */
            border-radius: 10px;
            /* Rounded corners */
            font-size: 18px;
            /* Increase font size */
        }
        
        .fa-tiktok {
            color: black;
        }
        
        @media screen and (max-width: 800px) {
            body {
                display: flex;
                background-color: red;
            }
            ul {
                position: absolute;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                background: linear-gradient(to right, maroon, rgb(255, 149, 0));
                top: 50px;
                right: -150%;
                text-align: center;
                color: white;
                font-size: 20px;
                line-height: 80px;
                transition: .99s;
            }
            nav ul li {
                display: block;
                margin: px;
            }
            .checkbtn {
                display: block;
            }
            #check:checked~ul {
                right: 0;
            }
            #check:disabled~ul {
                left: 0;
            }
            .content {
                display: flex;
                font-size: x-large;
                height: 79vh;
            }
            .image-slider img {
                height: 100px;
                width: 50px;
            }
            .categories {
                font-size: x-small;
            }
            .slider {
                height: 100px;
                width: 50px;
            }
        }
        
        @media screen and (max-width: 600px) {
            body {
                background-color: olive;
                color: white;
            }
        }
        
        @keyframes animation {
            to {
                color: orange;
            }
        }
        
        @keyframes animation2 {
            to {
                color: orange;
            }
        }
